* {
    margin: 0;
    padding: 0;
}


header a {
    line-height: 40px;
    text-decoration: none;
    color: #000;
    opacity: 0.5;
    font-family: "Raleway", sans-serif;
    padding: 0 10px;
    transition: 0.5s;
}
#heroLink{
    color: white ;
}
.fixbuttons button{
    height: 50px;
    width: 75px;
    position: fixed;
    right: 0px;
    top: 150px;
    z-index: 15;
    background-image: url("img/heart.svg");
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px 0  0 100px  ;
    border: none;
    background-color: white;
    
}
#bagButton{
    top: 210px;
    background-image: url("img/bag.svg");
    
}
a:hover {
    color: #222;
    opacity: 1 !important;
}

.left {
    display: flex;
}

.logo {
    height: 60px;
    width: 60px;
    background-image: url("img/diamond.svg");
    background-size: contain;
    margin: 10px 0;
    background-repeat: no-repeat;
    background-position: center;
}


.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;

}

.air {
    width: 40%;
}

.headerTop {
    border-bottom: 1px solid #eee;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.icon {
    display: block;
    height: 40px;
    width: 40px;
    outline: 1px solid #eee;
    background-image: url("img/search.svg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}

#basket {
    background-image: url("img/bag.svg");
}

#heart {
    background-image: url("img/heart.svg");
}

#profile {
    background-image: url("img/avatar-people-profile-svgrepo-com.svg");
}

.right {
    display: flex;
    align-items: center;
}

video {
    width: 100%;
}

.hero {
    position: relative;
}

.hero h2 {
    margin: 0 0 20px;
    color: white;
}

.heroInfo {
    position: absolute;
    top: 50%;
    /* background-color: aqua; */
    width: 100%;
    color: white;
    font-family: "Playfair Display", serif;
}

.product {
    width: 25%;
    display: block;
}

.productTop {
    position: relative;
}

.product img {
    width: 100%;
    display: block;
    height: 70%;
    object-fit: cover;
}

.heart {
    width: 50px;
    height: 50px;
    display: block;
    background-image: url(img/heart.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;

}

.products .container {
    display: flex;
    gap: 40px;
}

.slides {
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 5px;
    display: flex;
}

.slide {
    background-color: #ffffff;
    width: 25%;
    height: 2px;
    margin: 0 2px;
}

.hero h3 {
    text-transform: uppercase;
}

.productBottom {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;

}

.giftLeft img {
    filter: invert(90%);
}

.arrowLink {
    color: rgb(0, 0, 0);
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    margin-top: 120px;
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
}

.arrowLink:hover {
    opacity: 0.5;
}

.arrowLink img {
    height: 20px;
    display: block;
    margin-left: 20px;
}

.category img {
    width: 100%;
}

h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-family: "Playfair Display", serif;
    color: #222;

}

.categories .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.collections {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.collections>* {
    height: 400px;
    width: 50%;
    background-size: cover;
    background-position: center;
}

.categories h2 {
    width: 100%;
    color: #000000;
}

h2 {
    margin: 100px 0 50px;
    font-family: "Playfair Display", serif;
    color: #222;
    text-transform: uppercase;
}

.info {
    color: white;
}

.info a {
    color: white;
}

.collection {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 50px;
}

.email {
    padding: 200px 0;
}

.email .container {
    /* margin: auto; */
    text-align: center;
    margin: auto;
    /* background-color: pink; */
}

.email h3 {
    text-align: center;
    max-width: 700px;
    margin: auto;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    color: #222;
    margin-bottom: 20px;
}

.emailForm {
    max-width: 700px;
    justify-content: center;
    display: flex;
    /* background-color: aqua; */
    margin: auto;

}

.emailForm input {
    margin-right: 10px;
    width: calc(60% - 10px);
    height: 40px;
    padding: 0 10px;
    outline: 1px solid greenyellow;
}

.emailForm button {
    background-color: #333;
    color: #ffffff;
    width: 40%;
    transition: 1s;
    border: none;
}

.emailForm button:hover {
    background-color: #101010;
    color: #fe3002;
    transform: rotate(3600deg);
}

.diamond {
    width: 100px;
}

footer .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

footer {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 50px 0;
    
}

.sections {
    display: flex;
    flex-direction: column;
}

footer a {
    text-decoration: none;
    color: #555;
    font-family: "Raleway", sans-serif;
    padding: 5px 0;
}
.socials a{
    width:40px;
    height: 40px;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #555;
    border-radius: 100px ;
    padding: 0;  
    opacity: 0.3;
    transition: 0.5s
}


.socials{
    display: flex;
    gap: 10px ;
}
#vk{
    background-image: url("img/vk.svg");
}
#tlgrm{
    background-image: url("img/telegram.svg");
}
#wtsp{
    background-image: url("img/whatsapp.svg");
}
footer a::first-letter {
    text-transform: capitalize;
}
.ending{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.aboutusP {
    margin-top: 30px;
    width: 800px;
}

.aboutus {
    padding: 200px 0;
    width: 100%;
}

.category {
    flex: 1;
}

.mens {
    background-image: url("img/men.webp");
}

.tarot {
    background-image: url("img/side.webp");
}

.charity {
    background-image: url("img/charity.webp");
}

.objects {
    background-image: url("img/books.webp");
}

p {
    font-family: "Raleway", serif;
    font-size: 20px;
}

.mens img {
    width: 200px;
}

.certificates {
    background-color: #f0f0f0;
    padding: 200px 0;
}

.certificates .container {
    align-items: center;
    display: flex;
}

.giftLeft {
    width: 60%;
}

.giftLeft a {
    text-decoration: none;
}
.end p{
    margin: 25px;
    opacity: 0.3;
    font-size: small;
}